
  #topbar { 
    font-family: UnifrakturCook;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 10px;
    height: 90px;
    padding: 16px; 
    text-align: left;
  }

  .titolo {
    margin: 48px;
    color: whitesmoke;
  }

  .background {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://st4.depositphotos.com/3803389/22309/v/1600/depositphotos_223094252-stock-illustration-seamless-pattern-background-hand-drawn.jpg");
    height: 100%;
  }

  .card {
    border: 1px solid white;
    display: inline-block; 
    margin: 16px;
    padding: 0px; 
    font-family: Roboto;
    width: 240px; 
    height: 240px;        
    background-color: white;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
  }

  .card-inner:hover .card-content {
    transform: translateY(-120px);
  }

  .card-content {
    background-color: white;
    transition: transform 0.8s;
    width: 100%;
    height: 120px;
    padding: 16px;
    text-align: center;
  }

  .card-content h1 {
    font-weight: 300;
    font-size: 22px;
  }

  .card-content p {
    font-weight: 500;
    font-size: 11px;
  }

  .fumetto {
    border: 1px solid white;
    display: inline-block; 
    margin: 16px;
    padding: 0px; 
    font-family: Roboto;
    width: 350px;
  }

  .fumetto-content {
    text-align: center;
  }

  .fumetto-content h1 {
    font-weight: 300;
    font-size: 22px;
  }

  .fumetto-content p {
    font-weight: 500;
    font-size: 11px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .fumetto-immagine {
    width: 350px; 
    height: 500px; 
  }

  .dettaglio-card {
    margin: 16px;
  }

  .dettaglio-immagine {
    max-height: 500px; 
    max-width: 350px;
    margin: 16px;
  }

  #footer {
    text-align: center;
    background-color: #333; 
    padding: 20px;
    color: #e4e4e4;
    position: sticky;
    bottom: 0;
    min-width: 100%;
    font-family: Roboto
  }

  #footer p {
    font-weight: 300;
    font-size: 12px;
    color: white;
  }